Repository hiroppy/hiroppy: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        npx biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{md,yml}"
      run: |
        npx prettier --write {staged_files}
      stage_fixed: true

chore: bump version to 1.0.65 [skip ci]
  package.json
Due: biome

chore: bump version to 1.0.66 [skip ci]
  package.json
Due: biome

feat: update types
  README.md
  data/meta.ts
  data/type.ts
  generated/images/anNjb25mLmpwLzIwMjEvZmF2aWNvbi0zMngzMi5wbmc_dj1mZWM5MzQ5MzVhOGI4NGIyNGFkZWFkNmU5ZmVhZWEwOQ.webp
  generated/images/anNjb25mLmpwLzIwMjEvc3RhdGljL2ZlYzkzNDkzNWE4Yjg0YjI0YWRlYWQ2ZTlmZWFlYTA5L2xvZ28ucG5n.webp
  generated/images/anNjb25mLmpwLzIwMjIvZmF2aWNvbi0zMngzMi5wbmc_dj1mZWM5MzQ5MzVhOGI4NGIyNGFkZWFkNmU5ZmVhZWEwOQ.webp
  generated/images/anNjb25mLmpwLzIwMjIvc3RhdGljL2ZlYzkzNDkzNWE4Yjg0YjI0YWRlYWQ2ZTlmZWFlYTA5L2xvZ28ucG5n.webp
  generated/images/anNjb25mLmpwLzIwMjQvZmF2aWNvbi0zMngzMi5wbmc_dj1mZWM5MzQ5MzVhOGI4NGIyNGFkZWFkNmU5ZmVhZWEwOQ.webp
  generated/images/anNjb25mLmpwLzIwMjQvc3RhdGljL2ZlYzkzNDkzNWE4Yjg0YjI0YWRlYWQ2ZTlmZWFlYTA5L2xvZ28ucG5n.webp
  generated/images/cmVzLmNsb3VkaW5hcnkuY29tL3RlY2hmZWVkL2ltYWdlL3VwbG9hZC93XzI4MCxoXzI4MC92MTU4NzcyNjUyMS91c2.webp
  generated/images/dGVjaGZlZWQuaW8vaW1hZ2VzL2xvZ28vbG9nby0xOTJ4MTkyLnBuZw==.webp
  generated/jobs.json
  generated/media.json
  generated/meta.json
  generated/podcasts.json
  generated/talks.json
  generated/types/common.d.ts
  generated/types/media.d.ts
  generated/types/meta.d.ts
  generated/types/podcasts.d.ts
  generated/types/talks.d.ts
  scripts/utils/type-generator.ts
Due: biome, prettier

feat: update generated files from data changes
  generated/jobs.json
  generated/media.json
  generated/meta.json
  generated/podcasts.json
  generated/talks.json
  generated/types/media.d.ts
  generated/types/meta.d.ts
  generated/types/podcasts.d.ts
  generated/types/talks.d.ts
Due: biome

chore: bump version to 1.0.67 [skip ci]
  package.json
Due: biome

fix: fix links
  data/cache.json
  data/meta.ts
  data/type.ts
  generated/meta.json
  generated/types/common.d.ts
  generated/types/jobs.d.ts
  generated/types/media.d.ts
  generated/types/meta.d.ts
  generated/types/podcasts.d.ts
  generated/types/talks.d.ts
  scripts/jobs.ts
  scripts/meta.ts
  scripts/utils/crawler.ts
  scripts/utils/type-generator.ts
Due: biome

chore: bump version to 1.0.68 [skip ci]
  package.json
Due: biome

fix: fix name
  data/cache.json
  generated/images/bGg3LXVzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9kb2NzL0FIa2J3eUpySWhuTThpRTFRRUpXTENNQ255MTVFYU9US0.webp
  generated/images/bGg3LXVzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9kb2NzL0FIa2J3eUw3OGpxUkNNRnJpaFJOQTlrbjVLb2VvUl9ucU.webp
  generated/jobs.json
  generated/media.json
  generated/meta.json
  generated/podcasts.json
  generated/talks.json
  generated/types/media.d.ts
  generated/types/podcasts.d.ts
  generated/types/talks.d.ts
  scripts/utils/crawler.ts
  scripts/utils/web.ts
Due: biome

chore: bump version to 1.0.69 [skip ci]
  package.json
Due: biome

fix: update generated
  generated/jobs.json
  generated/media.json
  generated/podcasts.json
  generated/talks.json
  generated/types/media.d.ts
  generated/types/podcasts.d.ts
  generated/types/talks.d.ts
Due: biome

chore: bump version to 1.0.70 [skip ci]
  package.json
Due: biome

chore: update
  generated/images/YXZhdGFycy5naXRodWJ1c2VyY29udGVudC5jb20vdS8xNDAxNzExP3M9NjAmdj00.jpg
  generated/sponsors.json
Due: biome

chore: bump version to 1.0.71 [skip ci]
  package.json
Due: biome

feat: update podcast
  data/podcasts.ts
Due: biome

feat: update generated files from data changes
  README.md
  data/cache.json
  generated/podcasts.json
  generated/types/podcasts.d.ts
Due: biome, prettier

chore: bump version to 1.0.72 [skip ci]
  package.json
Due: biome

chore: add typecheck
  .github/workflows/ci.yml
  data/media.ts
  data/podcasts.ts
  data/talks.ts
  data/type.ts
  generated/podcasts.json
  generated/types/podcasts.d.ts
  package.json
  scripts/utils/cache.ts
  scripts/utils/crawler.ts
  tsconfig.json
Due: biome, prettier

chore: bump version to 1.0.73 [skip ci]
  package.json
Due: biome

feat: update company url
  data/companies.ts
  generated/jobs.json
  generated/repos.json
Due: biome

docs: update README with latest sponsors data
  README.md
Due: prettier

chore: bump version to 1.0.74 [skip ci]
  package.json
Due: biome

feat: update data
  README.md
  data/cache.json
  data/jobs.ts
  data/media.ts
  data/meta.ts
  generated/images/MjAyNi50c2thaWdpLm9yZy9mYXZpY29uLmljbz9mYXZpY29uLjBiMjBkOGM2Lmljbw==.webp
  generated/images/MjAyNi50c2thaWdpLm9yZy9vZ3AucG5n.webp
  generated/images/b2dpbWFnZS5ibG9nLnN0LWhhdGVuYS5jb20vNjgwMTg4MzE4OTA3NTYwMjg2Ni8xNzE3OTI0NjkwMTM0OTk1ODExNy.webp
  generated/jobs.json
  generated/media.json
  generated/meta.json
  generated/sponsors.json
Due: biome, prettier

chore(readme): fix by formatter
  README.md
Due: prettier

chore: fix by prettier
  README.md
  scripts/utils/image.ts
Due: biome, prettier

chore: bump version to 1.0.75 [skip ci]
  package.json
Due: biome

ci: add formatter on update-readme
  .github/workflows/update-readme.yml
Due: prettier

fix: resolve TypeScript v6 type errors in build scripts
  scripts/meta.ts
  scripts/repos.ts
  scripts/sponsors.ts
  scripts/utils/type-generator.ts
Due: biome

fix(ci): use pnpm/action-setup cache instead of setup-node cache
  .github/actions/setup-node/action.yml
Due: prettier

fix(ci): drop pnpm cache to avoid v11/v10 store path mismatch
  .github/actions/setup-node/action.yml
Due: prettier

fix: migrate pnpm build approvals
  pnpm-workspace.yaml
Due: none

fix: update repos
  generated/repos.json
Due: biome

fix: show expired token error
  scripts/articles.ts
  scripts/repos.ts
  scripts/sponsors.ts
Due: biome

feat: update jobs
  data/cache.json
  data/jobs.ts
  generated/images/cHJjZG4uZnJlZXRscy5mYXN0bHkubmV0L3JlbGVhc2VfaW1hZ2UvMzY1MjgvNTk1LzM2NTI4LTU5NS0yNDkxNGJiNT.webp
  generated/images/cHJjZG4uZnJlZXRscy5mYXN0bHkubmV0L3JlbGVhc2VfaW1hZ2UvMzY1MjgvNjE5LzM2NTI4LTYxOS0xZTA4NDc2Yz.webp
  generated/jobs.json
Due: biome

chore: bump version to 1.0.76 [skip ci]
  package.json
Due: biome

fix: update sharp type import
  scripts/utils/image.ts
Due: biome

feat: update info
  README.md
  data/cache.json
  data/companies.ts
  data/jobs.ts
  data/media.ts
  data/meta.ts
  generated/images/cHJjZG4uZnJlZXRscy5mYXN0bHkubmV0L3JlbGVhc2VfaW1hZ2UvMTA5NTMwLzQ0LzEwOTUzMC00NC0yYjZlOGVhND.webp
  generated/images/cHVibGljL2NvbXBhbmllcy9paWJhLndlYnA=.webp
  generated/jobs.json
  generated/media.json
  generated/meta.json
  generated/sponsors.json
  generated/types/jobs.d.ts
  generated/types/meta.d.ts
  public/companies/iiba.webp
Due: biome, prettier
