Repository hiroppy/hiroppy: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: 'npx biome check --write --no-errors-on-unmatched {staged_files}
  
    '
  stage_fixed: true

prettier:
  run: 'npx prettier --write {staged_files}
  
    '
  stage_fixed: true

chore: bump version to 1.0.77 [skip ci]
  package.json
Due: biome

feat(data): update talks
  data/talks.ts
Due: biome

feat: update generated files from data changes
  data/cache.json
  generated/images/Y29ubnBhc3MuY29tL3N0YXRpYy9kY2I0ZGEwL2ltZy9mYXZpY29uLmljbw==.webp
  generated/images/bGg3LXVzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9kb2NzL0FIa2J3eUpBemJyMDBlWjBXM2g4bVQyWkJRei1tTWpzZm.webp
  generated/images/bWVkaWEuY29ubnBhc3MuY29tL3RodW1icy9kNS8yZS9kNTJlN2I5ZmM1NjhkMDk2NmM0OTc3ZTVhNjc5NGMyZi5wbm.webp
  generated/images/c3NsLmdzdGF0aWMuY29tL2RvY3MvcHJlc2VudGF0aW9ucy9pbWFnZXMvZmF2aWNvbi0yMDI2LXYyLmljbw==.webp
  generated/talks.json
  generated/types/talks.d.ts
Due: biome

chore: bump version to 1.0.78 [skip ci]
  package.json
Due: biome

Add Japan Toreca Center advisor role
  data/companies.ts
  data/jobs.ts
  generated/images/cHVibGljL2NvbXBhbmllcy9qYXBhbi10b3JlY2EtY2VudGVyLnBuZw==.webp
  generated/jobs.json
  generated/types/jobs.d.ts
  public/companies/japan-toreca-center.png
Due: biome

feat: update generated files from data changes
  generated/talks.json
  generated/types/talks.d.ts
Due: biome

chore: bump version to 1.0.79 [skip ci]
  package.json
Due: biome

Update Japan Toreca Center role details
  data/jobs.ts
  generated/images/cHVibGljL2NvbXBhbmllcy9qYXBhbi10b3JlY2EtY2VudGVyLnBuZw==.webp
  generated/jobs.json
  public/companies/japan-toreca-center.png
Due: biome

chore: bump version to 1.0.80 [skip ci]
  package.json
Due: biome

Update Commune logo
  generated/images/cHVibGljL2NvbXBhbmllcy9jb21tdW5lLmpwZw==.webp
  public/companies/commune.jpg
Due: none

chore: bump version to 1.0.81 [skip ci]
  package.json
Due: biome

fix: allow fresh biome release in pnpm policy
  pnpm-workspace.yaml
Due: none

fix(deps): allow fresh biome release
  pnpm-workspace.yaml
Due: none

fix(deps): allow fresh sharp packages
  pnpm-workspace.yaml
Due: none

fix: allow json-schema-to-typescript release age
  pnpm-workspace.yaml
Due: none

fix: allow biome release age
  pnpm-workspace.yaml
Due: none

chore(deps): allow fresh lefthook packages
  pnpm-workspace.yaml
Due: none

feat: add Jizai reviewer role
  data/companies.ts
  data/jobs.ts
  generated/images/cHVibGljL2NvbXBhbmllcy9qaXphaS5wbmc=.webp
  generated/jobs.json
  generated/types/jobs.d.ts
  public/companies/jizai.png
Due: biome

feat: update generated files from data changes
  generated/sponsors.json
Due: biome

chore: bump version to 1.0.82 [skip ci]
  package.json
Due: biome

docs: update iiba responsibilities
  data/jobs.ts
  generated/jobs.json
Due: biome

feat: update generated files from data changes
  README.md
Due: prettier

fix: prevent concurrent release workflows
  .github/workflows/publish.yml
Due: prettier

chore: bump version to 1.0.83 [skip ci]
  package.json
Due: biome

fix: allow fresh biome patch packages
  pnpm-workspace.yaml
Due: none

docs: update company experience
  data/jobs.ts
  generated/jobs.json
Due: biome

chore: bump version to 1.0.84 [skip ci]
  package.json
Due: biome

fix(deps): exclude fresh node types from release age
  pnpm-workspace.yaml
Due: none

chore(deps): allow biome 2.5.13 freshness window
  pnpm-workspace.yaml
Due: none

fix(deps): refresh lefthook lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): allow fresh @types/node release
  pnpm-workspace.yaml
Due: none

fix(deps): allow fresh linter releases
  pnpm-workspace.yaml
Due: none

fix: allow prettier 3.9.8 stability check
  pnpm-workspace.yaml
Due: none

fix: allow prettier 3.9.9 in release-age policy
  pnpm-workspace.yaml
Due: none

fix: allow fresh @types/node release
  pnpm-workspace.yaml
Due: none

fix(ci): permit fresh node types release
  pnpm-workspace.yaml
Due: none

fix(ci): permit fresh lefthook release
  pnpm-workspace.yaml
Due: none

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{md,yml}
