Repository hiroppy/hiroppy: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: 'npx biome check --write --no-errors-on-unmatched {staged_files}
  
    '
  stage_fixed: true

prettier:
  run: 'npx prettier --write {staged_files}
  
    '
  stage_fixed: true

docs: update README with latest sponsors data
  README.md
Due: prettier

chore(readme): remove last-updated
  .github/workflows/build-on-data-changes.yml
  README.md
  package.json
  scripts/readme.ts
Due: biome, prettier

feat: export getBookmark fnc
  generated/articles.json
  lib/hatena.mjs
  lib/index.mjs
  package.json
  scripts/articles.ts
Due: biome

chore: bump version to 1.0.23 [skip ci]
  package.json
Due: biome

chore(readme): fix npm badge
  scripts/readme.ts
Due: biome

fix: meta
  data/meta.ts
Due: biome

feat: update generated files from data changes
  generated/meta.json
  package.json
Due: biome

chore: bump version to 1.0.24 [skip ci]
  package.json
Due: biome

fixup! chore: remove old lib directory files
  .github/workflows/ci.yml
Due: prettier

fixup! fixup! chore: remove old lib directory files
  pnpm-lock.yaml
Due: none

feat: convert lib scripts to TypeScript (#31)
  .github/workflows/ci.yml
  lib/index.mjs
  package.json
  pnpm-lock.yaml
  src/github.ts
  src/hatena.ts
  src/index.ts
  src/tsconfig.json
  tsconfig.json
Due: biome, prettier

refactor: stuff
  .github/workflows/ci.yml
  .gitignore
  package.json
  scripts/readme.ts
  src/github.ts
  src/hatena.ts
  src/index.ts
  src/tsconfig.json
Due: biome, prettier

ci: add src to publish
  .github/workflows/publish.yml
Due: prettier

chore: bump version to 1.0.25 [skip ci]
  package.json
Due: biome

ci: include src/ changes in publish triggers and add TypeScript build step
  .github/workflows/publish.yml
Due: prettier

chore: bump version to 1.0.26 [skip ci]
  package.json
Due: biome

chore: fix export fields
  package.json
Due: biome

chore: bump version to 1.0.27 [skip ci]
  package.json
Due: biome

refactor: remove src
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  package.json
  src/github.ts
  src/hatena.ts
  src/index.ts
  src/tsconfig.json
  tsconfig.json
Due: biome, prettier

chore: bump version to 1.0.28 [skip ci]
  package.json
Due: biome

chore(deps): move octokit to dev
  package.json
  pnpm-lock.yaml
Due: biome

feat: enable automerge for pnpm and Node.js updates
  renovate.json
Due: biome

test: add import tests for JSON and image files
  .github/workflows/ci.yml
  package.json
  test/import.test.js
Due: biome, prettier

chore(renovate): fix renovate config
  renovate.json
Due: biome

fix: fix url surffix
  data/meta.ts
Due: biome

feat: update generated files from data changes
  generated/meta.json
Due: biome

chore: bump version to 1.0.29 [skip ci]
  README.md
  generated/sponsors.json
  package.json
  scripts/readme.ts
  scripts/sponsors.ts
Due: biome, prettier

fix: fix sponsors
  generated/images/YXZhdGFycy5naXRodWJ1c2VyY29udGVudC5jb20vdS80MDE0OTEyP3M9NjAmdj00.jpg
  generated/images/YXZhdGFycy5naXRodWJ1c2VyY29udGVudC5jb20vdS81NzQ0NDExP3M9NjAmdj00.jpg
  generated/images/YXZhdGFycy5naXRodWJ1c2VyY29udGVudC5jb20vdS82OTkzNTE0P3M9NjAmdj00.jpg
  generated/images/YXZhdGFycy5naXRodWJ1c2VyY29udGVudC5jb20vdS8xMTMwOTIxP3M9NjAmdj00.jpg
  generated/images/YXZhdGFycy5naXRodWJ1c2VyY29udGVudC5jb20vdS8zNDI2NDg1OT9zPTYwJnY9NA==.jpg
  generated/images/YXZhdGFycy5naXRodWJ1c2VyY29udGVudC5jb20vdS8zODcxMzk5OD9zPTYwJnY9NA==.jpg
  generated/sponsors.json
  scripts/sponsors.ts
Due: biome

chore: bump version to 1.0.30 [skip ci]
  package.json
Due: biome

ci: fix publish
  .github/workflows/publish.yml
Due: prettier

chore: bump version to 1.0.31 [skip ci]
  package.json
Due: biome

chore: update
  README.md
  data/cache.json
  generated/images/MjAyNS50c2thaWdpLm9yZy9iYW5uZXIuanBn.webp
  generated/images/ZW5naW5lZXJpbmcubWVyY2FyaS5jb20vL2ltZy9vZ3Avb2dwX2EuanBn.webp
  generated/images/anNjb25mLmpwLzIwMjEvc3RhdGljL2ZlYzkzNDkzNWE4Yjg0YjI0YWRlYWQ2ZTlmZWFlYTA5L2xvZ28ucG5n.webp
  generated/images/anNjb25mLmpwLzIwMjIvc3RhdGljL2ZlYzkzNDkzNWE4Yjg0YjI0YWRlYWQ2ZTlmZWFlYTA5L2xvZ28ucG5n.webp
  generated/images/bGg3LXVzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9kb2NzL0FIa2J3eUpHd3I5RENzS0dIUko4MzdWU2N5R0RfWVhNNG.webp
  generated/images/bGg3LXVzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9kb2NzL0FIa2J3eUtKWnpidURBT0RlaVprQzFkU29JR0Z1M2ZXbG.webp
  generated/images/bGg3LXVzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9kb2NzL0FIa2J3eUxRUk5DVGQ1OW0zLVpiRVZ4SlBzU0x5UW9XX1.webp
  generated/images/bGg3LXVzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9kb2NzL0FIa2J3eUxhZ3ZlSXZmdXhxc2ZhQWtsWnQ3LTQwcGJHal.webp
  generated/images/bWVkaWEuY29ubnBhc3MuY29tL3RodW1icy9lYS9lNy9lYWU3YjBkMmZjOGYzMGYwZTQ0MzA5ZjM5OGYyM2E5MS5wbm.webp
  generated/images/bm9kZWZlc3QuanAvMjAxNi9pbWcvb2dpbWFnZS5wbmc=.webp
  generated/images/bm9kZWZlc3QuanAvMjAxNy9pbWcvb2dpbWFnZS5wbmc=.webp
  generated/images/bm9kZWZlc3QuanAvMjAxOC9pbWcvb2dpbWFnZS5wbmc=.webp
  generated/images/c3RvcmFnZS5nb29nbGVhcGlzLmNvbS9wcmQtZW5naW5lZXJpbmctYXNzZXQvMjAyMS8wOC9iZThiOTgxNy1kcmFnb2.webp
  generated/images/c3RvcmFnZS5nb29nbGVhcGlzLmNvbS9wcmQtZW5naW5lZXJpbmctYXNzZXQvMjAyMS8wOC9lM2VlZTY0NS1oaXJvcH.webp
  generated/images/cmVzLmNsb3VkaW5hcnkuY29tL3RlY2hmZWVkL2ltYWdlL3VwbG9hZC93XzI4MCxoXzI4MC92MTU4NzcyNjUyMS91c2.webp
  generated/images/dm9zLmxpbmUtc2Nkbi5uZXQvbGFuZHByZXNzLWNvbnRlbnQtdjJfMTc2MS8xNjY2ODU0MTIwMjA0LnBuZz91cGRhdG.webp
  generated/images/eXVpbWVkaS5ub3Rpb24uc2l0ZS9pbWFnZS9odHRwcyUzQSUyRiUyRnMzLXVzLXdlc3QtMi5hbWF6b25hd3MuY29tJT.webp
  generated/jobs.json
  generated/media.json
  generated/talks.json
  package.json
Due: biome, prettier

chore: bump version to 1.0.32 [skip ci]
  package.json
Due: biome

fix: should have / suffix
  README.md
  data/cache.json
  generated/articles.json
  generated/images/bGg3LXVzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9kb2NzL0FIa2J3eUxVa3B0YVk4WWJrMHplbzAybDVHUy1oNjhZZU.webp
  generated/images/eXVpbWVkaS5ub3Rpb24uc2l0ZS9pbWFnZS9odHRwcyUzQSUyRiUyRnMzLXVzLXdlc3QtMi5hbWF6b25hd3MuY29tJT.webp
  generated/jobs.json
  generated/media.json
  generated/podcasts.json
  generated/repos.json
  generated/talks.json
  package.json
  scripts/utils/file.ts
Due: biome, prettier

fix: fix date issue
  data/cache.json
  generated/jobs.json
  scripts/utils/file.ts
Due: biome

chore: bump version to 1.0.33 [skip ci]
  package.json
Due: biome

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{md,yml}
